*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #140d12;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
  all: unset;
  background-color: white;
  display: block;
  margin: auto;
  width: 80%;
  color: black;
  padding: 0.6vh;
  padding-left: 1vh;
  margin-top: 0.2vh;
  border-radius: 0.2vh;
  font-size: 4vh;
}

input:focus{
  border: 0.2vh solid aqua;
}
